@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;0,900;1,400&display=swap");
:root {
  --background_color: #1762A7;
  --primary_color: #ffffff ;
  --main_color: #0a80ef ;
  --tertiary_color: #000000;
  --minor_color: #BC3A80;
  --form_color: #f2f2f2;
}

@-webkit-keyframes mobileMenu {
  0% {
    top: 0%;
    opacity: 0;
  }
  50% {
    opacity: 50;
  }
  100% {
    top: 10%;
    opacity: 100;
  }
}

@keyframes mobileMenu {
  0% {
    top: 0%;
    opacity: 0;
  }
  50% {
    opacity: 50;
  }
  100% {
    top: 10%;
    opacity: 100;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "sans-serif", "Poppins";
  font-size: 30px;
}

body {
  background-color: var(--background_color);
  overflow: hidden;
}

.blureffect {
  display: none;
}

.hero {
  display: block;
  box-sizing: border-box;
}

.join {
  background: linear-gradient(180deg, #1762A7 31.85%, rgb(0, 0, 0) 90.01%);
}

.container {
  display: flex;
}

a {
  text-decoration: none;
  color: var(--primary_color);
}

@media screen and (min-width: 1280px) {
  body {
    display: grid;
    place-content: center;
    padding: 20px;
  }
  .container {
    max-width: 1920px;
    height: 100vh;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary_color);
    max-width: 1920px;
    height: 10%;
    margin: 2%;
  }
  .header__logo {
    display: flex;
    left: 5%;
  }
  .header__logotxt {
    margin-top: 1vh;
  }
  .header__menuicon {
    visibility: hidden;
  }
  .header__navigation {
    display: flex;
    flex-direction: row;
  }
  .header__navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__navigation ul li {
    list-style: none;
    gap: 5px;
  }
  .header__navigation ul li a:hover {
    color: var(--tertiary_color);
  }
  .hero {
    margin: 0%;
  }
  .hero__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hero__left {
    margin-left: 5%;
  }
  .hero__image {
    background-image: url(../assets/landing-page-girl_1.png);
    width: 35vw;
    height: 70vh;
    bottom: 0vh;
    margin-top: 13%;
    bottom: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.5));
  }
  .hero__design1 {
    position: absolute;
    background-image: url(../assets/Ellipse2.svg);
    width: 80vw;
    height: 25vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -2;
    margin-top: -20vh;
    left: -5%;
  }
  .hero__right {
    margin-left: 0%;
    margin-right: 5%;
  }
  .hero__text {
    color: var(--primary_color);
    text-align: start;
    margin-top: -25vw;
    margin-right: 0;
  }
  .hero__text h1 {
    font-size: 3em;
    font-weight: 600;
  }
  .hero__text p {
    font-size: 30px;
    margin-bottom: 10vh;
  }
  .hero__button {
    font-size: 24px;
    background-color: var(--tertiary_color);
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 20vh;
  }
  .hero__button:hover {
    background-color: transparent;
    color: var(--tertiary_color);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  .hero__headphone {
    position: absolute;
    background-image: url(../assets/Ellipse3.png);
    width: 35vw;
    height: 35vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
    right: -4%;
    top: 25%;
  }
  .hero__design2 {
    position: absolute;
    width: 40vw;
    height: 50vh;
    background: url(../assets/Ellipse4.svg) no-repeat;
    background-size: contain;
    justify-content: end;
    right: 0%;
    left: 80%;
    bottom: 0%;
    z-index: -5;
  }
}
@media screen and (min-width: 870px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary_color);
    height: 10%;
    margin: 2% 5%;
  }
  .header__logo {
    display: flex;
  }
  .header__logotxt {
    margin-top: 1vh;
  }
  .header__menuicon {
    visibility: hidden;
  }
  .header__navigation {
    display: flex;
    flex-direction: row;
  }
  .header__navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .header__navigation ul li {
    list-style: none;
    gap: 5px;
  }
  .header__navigation .login:hover {
    cursor: pointer;
    color: var(--tertiary_color);
  }
  .hero {
    margin: 0%;
  }
  .hero__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hero__image {
    background-image: url(../assets/landing-page-girl_1.png);
    width: 35vw;
    height: 70vh;
    margin-top: 13%;
    bottom: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.5));
  }
  .hero__text {
    color: var(--primary_color);
    text-align: start;
    margin-top: -15vw;
    margin-right: 10vw;
  }
  .hero__text h1 {
    font-size: 2.5em;
    font-weight: bold;
  }
  .hero__text p {
    font-size: 30px;
    margin-bottom: 10vh;
  }
  .hero__button {
    font-size: 24px;
    background-color: var(--tertiary_color);
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 20vh;
  }
  .hero__headphone {
    position: absolute;
    background-image: url(../assets/Ellipse3.png);
    width: 35vw;
    height: 35vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
    right: 0%;
    top: 25%;
    left: 68%;
  }
  .hero__design1 {
    position: absolute;
    background-image: url(../assets/Ellipse2.svg);
    width: 70vw;
    height: 25vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -2;
    margin-top: -20vh;
    margin-left: -2%;
  }
  .hero__design2 {
    position: absolute;
    width: 40vw;
    height: 50vh;
    background: url(../assets/Ellipse4.svg) no-repeat;
    background-size: contain;
    justify-content: end;
    right: -17%;
    bottom: 0%;
    z-index: -5;
  }
  .discover {
    display: block;
    height: 100vh;
  }
  .discover__container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5%;
  }
  .discover__left {
    display: block;
  }
  .discover__left h1 {
    font-size: 40px;
  }
  .discover__left .design3 {
    position: absolute;
    z-index: -2;
  }
  .discover__left .design4 {
    position: absolute;
    z-index: -2;
  }
  .discover__left .gridbox {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10%;
    margin-top: 20px;
  }
  .discover__left .gridbox .grid {
    background-color: var(--tertiary_color);
    color: var(--primary_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 10px;
  }
  .discover__left .gridbox .grid img {
    width: 70px;
  }
  .discover__left .gridbox .grid h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  .discover__text {
    font-size: 24px;
    width: 60%;
    margin-top: 10px;
  }
  .discover__text span {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }
  .discover__right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -40%;
  }
  .discover .design5 {
    position: absolute;
  }
  .join {
    display: block;
    height: 100vh;
  }
  .join__container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
  .join__text {
    text-align: left;
    color: var(--primary_color);
    margin-top: 25%;
  }
  .join__text h1 {
    font-size: 60px;
  }
  .join__text span {
    font-size: 70px;
    color: var(--minor_color);
  }
  .join__form {
    margin-top: 5%;
    background-color: var(--form_color);
    width: 60%;
    height: 70%;
    padding: 4%;
    border-radius: 15px;
    border: none;
  }
  .join__form .input-control {
    display: flex;
    flex-direction: column;
  }
  .join__form .input-control label {
    font-size: 20px;
  }
  .join__form .input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    display: block;
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }
  .join__form .input-control input:focus {
    outline: 0%;
  }
  .join__form .input-control.success input {
    border-color: #09c372;
  }
  .join__form .input-control.error input {
    border-color: #ff3860;
  }
  .join__form .input-control.error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
  }
  .join__form input[type=submit] {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: var(--primary_color);
    background-color: var(--main_color);
    border: none;
    border-radius: 10px;
  }
  .join__form .footnote {
    margin-top: 10%;
    font-size: 16px;
    text-align: center;
  }
  .join__form .footnote a {
    font-size: 16px;
    color: var(--minor_color);
  }
  .join__form .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }
  .join__form .link p {
    font-size: 16px;
  }
  .join__form .link p span {
    font-size: 16px;
    color: var(--main_color);
  }
  .join__form .link p span:hover {
    cursor: pointer;
    color: var(--minor_color);
    font-style: italic;
  }
  .join__footer {
    margin-top: -10%;
  }
  footer {
    margin-top: -20%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  footer nav ul {
    display: flex;
  }
  footer nav ul img {
    width: 40px;
  }
  footer nav ul li {
    list-style: none;
    padding: 8px;
  }
  footer .socialicon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer .socialicon img {
    width: 40px;
    padding: 5px;
  }
  footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  footer p span {
    font-size: 24px;
  }
  .login__form {
    display: none;
    z-index: 2;
    width: 30%;
    height: 50%;
    margin-top: 7%;
    margin-left: 50%;
  }
  .login__form input[type=submit] {
    margin-left: 40%;
    cursor: pointer;
  }
  .signin {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    width: 110vw;
    height: 90vh;
    margin-left: -5%;
    margin-top: 5%;
  }
  .signin__container {
    background-color: var(--primary_color);
    margin-top: 10%;
    padding: 3%;
    border-radius: 20px;
    margin-top: -5%;
  }
  .signin__container form {
    width: 30vw;
  }
  .signin__container form label {
    font-size: 24px;
    color: var(--main_color);
  }
  .signin__container form input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-color: var(--main_color);
    border-style: solid;
    border-radius: 10px;
  }
  .signin__container form input[type=submit] {
    width: 25%;
    margin-left: 37.5%;
    font-size: 30px;
    background-color: var(--primary_color);
    color: var(--main_color);
  }
  .signin__container form input[type=submit]:hover {
    color: var(--primary_color);
    background-color: var(--main_color);
    font-size: 30px;
  }
  .signin__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .signin__link a {
    color: var(--main_color);
    font-size: 20px;
  }
  div.add-form {
    display: block;
  }
  div.remove-form {
    display: none;
  }
  section.show__signin {
    visibility: visible;
  }
  section.add-blur {
    display: block;
    pointer-events: none;
    filter: blur(50px) opacity(50%) contrast(50%);
    -webkit-animation-name: mobileMenu;
            animation-name: mobileMenu;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
  }
}
@media screen and (max-width: 869px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary_color);
    height: 10%;
    margin: 5px 10px;
    /* &__navigation {
         display: block;

         ul {
             display: flex;
             flex-direction: row;
             justify-content: center;
             align-items: center;

             li {
                 list-style: none;
                 gap: 3px;
                 a {
                     font-size: 24px;
                 }
             }
         }
     }*/
  }
  .header__logo {
    display: flex;
  }
  .header__logotxt {
    margin-top: 1vh;
  }
  .header__menuicon {
    display: flex;
  }
  .header__navigation, .header .splitline {
    display: none;
  }
  .header nav {
    position: fixed;
    z-index: 999;
    width: 80%;
    height: 10vh;
    align-items: center;
    top: 10%;
    padding: 1em;
    color: var(--primary_color);
    text-decoration: none;
    -webkit-animation-name: mobileMenu;
            animation-name: mobileMenu;
    -webkit-animation-duration: 0.9s;
            animation-duration: 0.9s;
  }
  .header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    text-decoration: none;
    list-style: none;
  }
  .header nav li a {
    color: var(--primary_color);
    display: block;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    padding: 0.5em;
    text-align: center;
  }
  .header nav li a:hover {
    font-weight: bold;
  }
  .header nav.menu-btn {
    display: block;
  }
  .hero {
    display: block;
  }
  .hero__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    text-align: center;
    color: var(--primary_color);
  }
  .hero__right h1 {
    font-size: 45px;
    font-weight: 600;
  }
  .hero__right P {
    font-size: 24px;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }
  .hero__right a {
    font-size: 20px;
    background-color: var(--tertiary_color);
    padding: 15px 20px;
    border-radius: 10px;
  }
  .hero__image {
    display: flex;
    background-image: url(../assets/landing-page-girl_1.png);
    width: 60vw;
    height: 60vh;
    margin-top: 3vh;
    margin-bottom: -3vh;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.5));
  }
  .hero__headphone {
    background-image: url(../assets/Ellipse3.png);
    position: absolute;
    width: 40vw;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -2;
    top: 6vh;
    left: 60vw;
  }
  .hero__design1 {
    background-image: url(../assets/Ellipse2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 120vw;
    height: 16vh;
    margin: 0;
    left: -2%;
    bottom: -1%;
    z-index: -2;
  }
  section.add-blur {
    display: block;
    pointer-events: none;
    filter: blur(4px) opacity(50%) contrast(50%);
    -webkit-animation-name: mobileMenu;
            animation-name: mobileMenu;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
  }
  .join {
    display: block;
    width: 100vw;
    height: 100vh;
    color: var(--primary_color);
    background: linear-gradient(180deg, #1762A7 31.85%, rgb(0, 0, 0) 90.01%);
  }
  .join__container {
    display: block;
    margin-top: 5%;
  }
  .join__text {
    margin: 5%;
  }
  .join__text h1 {
    font-size: 35px;
  }
  .join__text span {
    font-size: 50px;
    color: var(--minor_color);
  }
  .join__footer {
    margin-top: 20%;
  }
  .join__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    width: 80%;
    margin: 10%;
    margin-bottom: -2%;
    border: none;
    border-radius: 10px;
    background-color: var(--form_color);
  }
  .join__form .input-control {
    display: flex;
    flex-direction: column;
  }
  .join__form .input-control label {
    font-size: 20px;
  }
  .join__form .input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    display: block;
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }
  .join__form .input-control input:focus {
    outline: 0%;
  }
  .join__form .input-control.success input {
    border-color: #09c372;
  }
  .join__form .input-control.error input {
    border-color: #ff3860;
  }
  .join__form .input-control.error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
  }
  .join__form input[type=submit] {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: var(--primary_color);
    background-color: var(--main_color);
    border: none;
    border-radius: 10px;
  }
  .join__form .footnote {
    margin-top: 10%;
    font-size: 16px;
    text-align: center;
  }
  .join__form .footnote a {
    font-size: 16px;
    color: var(--minor_color);
  }
  .join__form .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }
  .join__form .link p {
    font-size: 16px;
  }
  .join__form .link p span {
    font-size: 16px;
    color: var(--main_color);
  }
  .join__form .link p span:hover {
    cursor: pointer;
    color: var(--minor_color);
    font-style: italic;
  }
  .join form {
    width: 100%;
    margin: 5%;
  }
  footer {
    display: block;
    padding: 2%;
    margin: 0%;
    bottom: 0%;
    width: 100vw;
  }
  footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer nav img {
    width: 40px;
  }
  footer nav ul {
    display: flex;
    gap: 10px;
  }
  footer nav li {
    list-style: none;
  }
  footer nav li a {
    font-size: 20px;
  }
  footer .socialicon {
    display: flex;
    gap: 10px;
  }
  footer .socialicon img {
    width: 25px;
    height: 25px;
  }
  footer p {
    margin-top: 5%;
    text-align: center;
    font-size: 18px;
    color: var(--tertiary_color);
  }
  footer p span {
    font-size: 18px;
  }
  .discover {
    display: block;
    width: 100vw;
    height: 100vh;
  }
  .discover__container {
    margin: 10%;
    display: flex;
    flex-direction: column;
  }
  .discover .design3 {
    position: absolute;
    z-index: -2;
    width: 50%;
    top: -10%;
    left: -10%;
  }
  .discover .design4 {
    position: absolute;
    z-index: -2;
    width: 100%;
    bottom: 30%;
    left: 10%;
    right: 10%;
  }
  .discover .design5 {
    position: absolute;
    z-index: -2;
    width: 70%;
    height: 20vh;
    bottom: 0%;
    left: 20%;
    right: 0%;
  }
  .discover .gridbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    color: var(--primary_color);
    margin-top: 10px;
    gap: 20px;
  }
  .discover .gridbox .grid {
    background-color: var(--tertiary_color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
  }
  .discover .gridbox .grid img {
    width: 60px;
  }
  .discover .gridbox .grid h2 {
    font-size: 28px;
    margin-top: 15px;
  }
  .discover__left {
    width: 100%;
  }
  .discover__left h1 {
    font-size: 35px;
  }
  .discover__text {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
  }
  .discover__text span {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }
  .discover__imgGrid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .discover__imgGrid img {
    margin-top: 5%;
    width: 80%;
  }
  .discover__footer {
    margin-top: -5%;
    padding: 2%;
  }
}
@media screen and (max-width: 572px) {
  body {
    overflow: hidden;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin: 5px 10px;
  }
  .header__logotxt, .header__hidden {
    display: none;
  }
  .header__menuicon {
    visibility: visible;
    display: flex;
    margin-right: 10px;
  }
  .header nav {
    position: fixed;
    z-index: 999;
    width: 110vw;
    height: 10vh;
    right: -2%;
    top: 10%;
    padding: 1em;
    color: var(--primary_color);
    text-decoration: none;
    -webkit-animation-name: mobileMenu;
            animation-name: mobileMenu;
    -webkit-animation-duration: 0.9s;
            animation-duration: 0.9s;
  }
  .header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    text-decoration: none;
    list-style: none;
  }
  .header nav li a, .header nav li .login {
    color: var(--primary_color);
    display: block;
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    padding: 0.5em;
    text-align: center;
  }
  .header nav li a:hover, .header nav li .login:hover {
    font-weight: bold;
    cursor: pointer;
  }
  .header nav li .login {
    font-size: 24px;
  }
  .header nav li .login:hover {
    font-weight: bold;
    cursor: pointer;
  }
  .header nav nav.menu-btn {
    display: block;
  }
  .hero__image {
    display: flex;
    background-image: url(../assets/landing-page-girl_1.png);
    width: 70vw;
    height: 70vh;
    top: 70%;
    bottom: 0%;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.5));
  }
  .hero__headphone {
    background-image: url(../assets/Ellipse3.png);
    position: absolute;
    width: 45vw;
    height: 45vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -2;
    top: 2vh;
    left: 55vw;
  }
  .hero__design1 {
    background-image: url(../assets/Ellipse2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 115vw;
    height: 15vh;
    margin: 0;
    left: -2%;
    bottom: -3%;
    z-index: -2;
  }
  section.add-blur {
    display: block;
    pointer-events: none;
    filter: blur(4px) opacity(50%) contrast(50%);
    -webkit-animation-name: mobileMenu;
            animation-name: mobileMenu;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
  }
  .join {
    display: block;
    width: 100vw;
    background: linear-gradient(180deg, #1762A7 31.85%, rgb(0, 0, 0) 90.01%);
  }
  .join__container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
  }
  .join__text {
    margin: 5%;
  }
  .join__text h1 {
    font-size: 35px;
  }
  .join__text span {
    font-size: 50px;
    color: var(--minor_color);
  }
  .join__form {
    margin-top: 5%;
    margin: 2%;
    width: 95%;
    background-color: var(--form_color);
    border: none;
    border-radius: 10px;
    color: var(--tertiary_color);
  }
  .join__form .input-control {
    display: flex;
    flex-direction: column;
  }
  .join__form .input-control label {
    font-size: 20px;
  }
  .join__form .input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    display: block;
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }
  .join__form .input-control input:focus {
    outline: 0%;
  }
  .join__form .input-control.success input {
    border-color: #09c372;
  }
  .join__form .input-control.error input {
    border-color: #ff3860;
  }
  .join__form .input-control.error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
  }
  .join__form input[type=submit] {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: var(--primary_color);
    background-color: var(--main_color);
    border: none;
    border-radius: 10px;
  }
  .join__form .footnote {
    margin-top: 10%;
    font-size: 16px;
    text-align: center;
  }
  .join__form .footnote a {
    font-size: 16px;
    color: var(--minor_color);
  }
  .join__form .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }
  .join__form .link p {
    font-size: 16px;
  }
  .join__form .link p span {
    font-size: 16px;
    color: var(--main_color);
  }
  .join__form .link p span:hover {
    cursor: pointer;
    color: var(--minor_color);
    font-style: italic;
  }
  footer {
    display: block;
    position: absolute;
    padding: 5%;
    margin: 0%;
    bottom: 0%;
  }
  footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer nav img {
    width: 40px;
  }
  footer nav ul {
    display: flex;
    gap: 10px;
  }
  footer nav li {
    list-style: none;
  }
  footer nav li a {
    font-size: 20px;
  }
  footer .socialicon {
    display: flex;
    gap: 10px;
  }
  footer .socialicon img {
    width: 25px;
    height: 25px;
  }
  footer p {
    margin-top: 5%;
    text-align: center;
    font-size: 18px;
    color: var(--tertiary_color);
  }
  footer p span {
    font-size: 18px;
  }
  .discover {
    display: block;
    width: 100vw;
  }
  .discover__container {
    margin: 5%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }
  .discover .design3 {
    position: absolute;
    z-index: -2;
    width: 50%;
    top: -10%;
    left: -10%;
  }
  .discover .design4 {
    position: absolute;
    z-index: -2;
    width: 100%;
    bottom: 30%;
    left: 10%;
    right: 10%;
  }
  .discover .design5 {
    position: absolute;
    z-index: -2;
    width: 110%;
    height: 20vh;
    bottom: 0%;
    left: 20%;
    right: 0%;
  }
  .discover .gridbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 20%;
    color: var(--primary_color);
    margin-top: 10px;
    gap: 20px;
  }
  .discover .gridbox .grid {
    background-color: var(--tertiary_color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
  }
  .discover .gridbox .grid img {
    width: 50px;
  }
  .discover .gridbox .grid h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .discover__text {
    margin-top: 10px;
    font-size: 20px;
  }
  .discover__text span {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }
  .discover__imgGrid {
    display: flex;
    margin: 5%;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .discover__imgGrid img {
    width: 80%;
    margin-right: 20%;
  }
}/*# sourceMappingURL=main.css.map */