@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;0,900;1,400&display=swap');

body {
    background-color: #1762A7;
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 1.2em;
    padding-bottom: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

section {
    height: 90vh;
    margin-bottom: 0;
    padding-bottom: 0;
}

a {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}
header {
    display: block;
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1.3em;
}

.navbar {
    display: flex;
    justify-content: space-between;

    .logobar {
        display: flex;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        
        h1 {
            padding-left: 10px;
            font-size: 36px;
        }
    }
}

ul {
    display: flex;
    padding-right: 1.8em;

    li {
        list-style: none;
        padding-left: 50px;
        padding-right: 50px;

        a {
            text-decoration: none;
            padding: 10px;
            font-size: 32px;
            color: #ffffff;
            text-align: center;

            &:hover {
                background-color: #459ef27f;
                border-radius: 10px;
                font-weight: 600;
                cursor: pointer;
            }

            
        }
    }
}

.hero {
    margin: 0;
    margin-bottom: -1em;
    padding-bottom: 0;
    position: static;

    .container {
        display: flex;

        .left {
    
            .heroimg {
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                padding-left: 80px;
                padding-top: 89px;
                width: 75%;
            }

            .design1 {
                position: absolute;
                top: 785px;
                right: 996px;
                z-index: -1;
            }
        }

        .right {
            color: #ffffff;

            .headphone {
                position: absolute;
                z-index: -1;
                width: 339px;
                padding-top: 118px;
                padding-left: 630px;

                &:hover {
                    border: solid 3px #0a80ef;
                }
            }

            .herotext {
                text-align: left;
                padding-top: 110px;
                padding-left: 315px;
                
                h1 {
                    font-size: 72px;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                p {
                    font-size: 34px;
                    margin-top: .3em;
                }

                a {
                    background-color: #000000;
                    font-size: 20px;
                    padding: 25px 60px;
                    box-sizing: border-box;
                    border-radius: 10px;

                    &:hover {
                        padding: 20px 55px;
                        border: solid 3px #0a80ef;
                    }
                }
            }

            .design2 {
                position: absolute;
                left: 1468px;
                top: 470px;
                z-index: -2;
                height: 490px;
                width: 452px;
            }
        }
    }
}

.about {
    margin: 0;
    margin-bottom: -1em;
    margin-top: 0;
    padding-bottom: 0;
    position: static;

    .innerContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        margin-left: 200px;
        margin-bottom: 90px;

        .left {
            display: block;

            .design3 {
                position: absolute;
                margin-left: 350px;
                margin-top: -50px;
                z-index: -1;
            }

            .design4 {
                position: absolute;
                right: 1447px;
                margin-top: 320px;
                z-index: -1;
            }

            h1 {
                font-size: 36px;
            }

            h2 {
                font-size: 26px;
                font-weight: 400;
            }

            .gridbox {
                display: flex;
                margin: -1em;


                .grid {
                    background-color: #000000;
                    color: #ffffff;
                    margin: 1em;
                    padding: 15px;
                    width: 130px;
                    place-items: center;
                    text-align: center;

                    img {
                        align-content: center;
                        width: 100px;
                    }
                }
            }
        }

        .right {
            margin-right: 200px;
            margin-top: 60px;

            .design5 {
                position: absolute;
                z-index: -2;
                width: 400px;
                margin-left: 344px;
                margin-top: -120px;
            }
        }
    } 
}

footer {
    display: block;
    margin: -1.2em;
    padding: 10px;
    padding-top: 5px;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: -5px;

    .homeicon {
        justify-content: center;
    
        img {
            width: 45px;
            height: 45px;
            align-self: center;
        }

        &:hover {
            padding: 5px;
            background: #459ef27f;
            border-radius: 10px;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;

        .socialicon {
            display: flex;
            width: 10%;

            img {
                width: 38px;
                height: 38px;
                padding: 5px;

                &:hover {
                    padding: 5px;
                    background: #459ef27f;
                    border-radius: 10px;
                }
            }
        }
    }

    p {
        font-size: 22px;
        margin-bottom: 0%;
        padding-bottom: 10px;
    }

}

.join {
    display: block;
    margin: -1.2em;
    width: 100vw;
    background: linear-gradient(180deg, #1762A7 40%,#000000 90%);

    .container {
        display: flex;
        flex-direction: row;
        margin: 80px;
        margin-bottom: 57px;
        color: #ffffff;
        padding: 0;

        .text {
            margin-top: 10%;
            width: 50%;
            font-size: 48px;
            text-align: center;
            place-content: center;

            span {
                color: #BC3A80;
            }
        }

        form {
            width: 35%;
            background-color: #000000;
            padding: 60px;
            padding-bottom: 40px;
            margin-bottom: 50px;
            font-size: 30px;
            align-content: center;
            border-radius: 10px;

            &:hover {
                border: #0a80ef solid;
            }

            input {
                width: 90%;
                height: 60px;
                border: #0a80ef solid 3px;
                border-radius: 10px;
                background-color: #000000;
                color: #ffffff;
                font-size: 20px;
            }

            .link {
                display: flex;
                justify-content: space-between;
                padding: 15px;
                padding-right: 45px;
            }
            a {
                font-size: 20px;
                font-style: italic;
                color: #1762A7;

                &:hover {
                    color: #BC3A80;
                    font-weight: bold;
                }
            }

            input[type=submit] {
                width: 30%;
                align-items: center;
                background-color: #0a80ef;
                color: #000000;
                text-align: center;
                margin-left: 35%;

                &:hover {
                    background-color: #000000;
                    color: #0a80ef;
                }
            }

        }
    }
}

.footer2 {
    padding: 0;
    margin: 0;
    margin-top: -6em;
    margin-bottom: -1.2em;
    padding-bottom: -1.2em;
}
