//imported google font(Poppins)
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;0,900;1,400&display=swap');

:root {
    //color variables 
    --background_color: #1762A7;
    --primary_color : #ffffff ;
    --main_color : #0a80ef ;
    --tertiary_color : #000000;
    --minor_color: #BC3A80;
    --form_color: #f2f2f2;
 
}

//mediaquery variables
$mobile  : 572px;
$tablet  : 869px;
$laptop  : 870px; 
$desktop : 1280px;

@keyframes mobileMenu {
    0%      { top: 0%; opacity: 0;}
    25%     {}
    50%     {opacity: 50;}
    75%     {}
    100%    {top: 10%; opacity: 100;}
}

* { //removed default settings (margin/padding)
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


    font-family: 'sans-serif', 'Poppins';
    font-size: 30px;
}

//new default body css properties 
body {
    background-color: var(--background_color);
    overflow: hidden;
}

.blureffect {
    display: none;
}

.hero {
    display: block;
    box-sizing: border-box;
}

.join{
    background: linear-gradient(180deg, #1762A7 31.85%, rgba(0, 0, 0, 1) 90.01%);
}

.container {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--primary_color);
}
// css properties for desktop sites/screen sizes above 1280px
@media screen and (min-width: $desktop) {
    body {
        display: grid;
        place-content: center;
        padding: 20px;
    }

    .container {
        max-width: 1920px;
        height: 100vh;
    }

    //header section of the home page
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary_color);
        max-width: 1920px;
        height: 10%;
        margin: 2%;
    
        &__logo {
            display: flex;
            left: 5%;
        }
        &__logotxt {
            margin-top: 1vh;
        }
    
        &__menuicon {
            visibility: hidden;
            
        }
    
        &__navigation {
            display: flex;
            flex-direction: row;
    
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
    
                li{
                    list-style: none;
                    gap: 5px;

                    a {
                        &:hover {
                            color: var(--tertiary_color);
                        }
                    }

                }
    
            }
        }
    } //header css property ends here
    
    //css properties for hero section of home page
    .hero {
        margin: 0%;
    
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    
        &__left {
            margin-left: 5%;
        }
    
        &__image {
            background-image: url(../assets/landing-page-girl_1.png);
            width: 35vw;
            height: 70vh;
            bottom: 0vh;
            margin-top: 13%;
            bottom: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.50));
        }
    
        &__design1 {
            position: absolute;
            background-image: url(../assets/Ellipse2.svg);
            width: 80vw;
            height: 25vh;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -2;
            margin-top: -20vh;
            left: -5%;
        }
    
        &__right {
            margin-left: 0%;
            margin-right: 5%;
        }
    
        &__text {
            color: var(--primary_color);
            text-align: start;
            margin-top: -25vw;
            margin-right: 0;
    
            h1 {
                font-size: 3em;
                font-weight: 600;
            }
    
            p {
                font-size: 30px;
                margin-bottom: 10vh;
            }
        }
    
        &__button {
            font-size: 24px;
            background-color: var(--tertiary_color);
            padding: 15px 20px;
            border-radius: 10px;
            margin-top: 20vh;

            &:hover {
                //border: dimgrey solid 2px;
                background-color: transparent;
                color: var(--tertiary_color);
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
            
        }
        
        &__headphone {
            position: absolute;
            background-image: url(../assets/Ellipse3.png);
            width: 35vw;
            height: 35vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -1;
            right: -4%;
            top: 25%;
        } 
    
        &__design2 {
            position: absolute;
            width: 40vw;
            height: 50vh;
            background: url(../assets/Ellipse4.svg) no-repeat;
            background-size: contain;
            justify-content: end;
            right: 0%;
            left: 80%;
            bottom: 0%;
            z-index: -5;
        }
    }
}

//css properties for laptop sites( 870 px and below 1280px)
@media screen and (min-width: $laptop) {

    .container {
        width: 100vw;
        height: 100vh;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary_color);
        height: 10%;
        margin: 2% 5%;

        &__logo {
            display: flex;
        }
        &__logotxt {
            margin-top: 1vh;
        }

        &__menuicon {
            visibility: hidden;
        }

        &__navigation {
            display: flex;
            flex-direction: row;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                li{
                    list-style: none;
                    gap: 5px;
                }

            }

            .login:hover {
                cursor: pointer;
                color: var(--tertiary_color);
            }
        }
    }

   .hero {
        margin: 0%;

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }


       &__image {
            background-image: url(../assets/landing-page-girl_1.png);
            width: 35vw;
            height: 70vh;
            margin-top: 13%;
            bottom: 0;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.50));
        }

        &__text {
            color: var(--primary_color);
            text-align: start;
            margin-top: -15vw;
            margin-right: 10vw;

            h1 {
                font-size: 2.5em;
                font-weight: bold;
            }

            p {
                font-size: 30px;
                margin-bottom: 10vh;
            }
        }

        &__button {
            font-size: 24px;
            background-color: var(--tertiary_color);
            padding: 15px 20px;
            border-radius: 10px;
            margin-top: 20vh;
        }
        
        &__headphone {
            position: absolute;
            background-image: url(../assets/Ellipse3.png);
            width: 35vw;
            height: 35vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -1;
            right: 0%;
            top: 25%;
            left: 68%;
        }
        
        &__design1 {
            position: absolute;
            background-image: url(../assets/Ellipse2.svg);
            width: 70vw;
            height: 25vh;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -2;
            margin-top: -20vh;
            margin-left: -2%;
        }

        &__design2 {
            position: absolute;
            width: 40vw;
            height: 50vh;
            background: url(../assets/Ellipse4.svg) no-repeat;
            background-size: contain;
            justify-content: end;
            right: -17%;
            bottom: 0%;
            z-index: -5;
        }
    }

    .discover {
        display: block;
        height: 100vh;

        &__container {
            display: grid;
            grid-template-columns: 50% 50%;
            margin: 5%;
        }

        &__left {
            display: block;

            h1 {
                font-size: 40px;
                //margin-top: -15%;
                //position: fixed;
            }

            .design3 {
                position: absolute;
                z-index: -2;
            }

            .design4 {
                position: absolute;
                z-index: -2;
            }

            .gridbox {
                display: flex;
                width: 50%;
                justify-content: space-between;
                align-items: flex-start;
                gap: 10%;
                margin-top: 20px;

                .grid {
                    background-color: var(--tertiary_color);
                    color: var(--primary_color);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 30%;
                    padding: 10px;

                    img {
                        width: 70px;
                    }
                    
                    h2 {
                        font-size: 24px;
                        margin-top: 20px;
                    }
                }
            }
        }

        &__text {
            font-size: 24px;
            width: 60%;
            margin-top: 10px;

            span {
                font-size: 20px;
                font-weight: bold;
                font-style: italic;
            }
        }

        &__right {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: -40%;
        }

        .design5 {
            position: absolute;
        }


    }

    .join {
        display: block;
        height: 100vh;

        &__container {
            display: grid;
            grid-template-columns: 50% 50%;
            justify-items: center;
        }

        &__text {
            text-align: left;
            color: var(--primary_color);
            margin-top: 25%;
            
            h1{
                font-size: 60px;
            }

            span {
                font-size: 70px;
                color: var(--minor_color);
            }
        }

        &__form {
            margin-top: 5%;
            background-color: var(--form_color);
            width: 60%;
            height: 70%;
            //color: var(--main_color);
            padding: 4%;
            border-radius: 15px;
            border: none;

            .input-control {
                display: flex;
                flex-direction: column;
                
                label {
                    font-size: 20px;
                }

                input {
                    border: 2px solid #f0f0f0;
                    border-radius: 10px;
                    display: block;
                    font-size: 20px;
                    padding: 10px;
                    width: 100%;

                    &:focus {
                        outline: 0%;
                    }
                }

                &.success input {
                    border-color: #09c372;
                }
                
                &.error input {
                    border-color: #ff3860;
                }
                
                &.error {
                    color: #ff3860;
                    font-size: 9px;
                    height: 13px;
                }

               
            }

            input[type=submit] {
                padding: 10px;
                margin-top: 10px;
                width: 100%;
                color: var(--primary_color);
                background-color: var(--main_color);
                border: none;
                border-radius: 10px;
            }

            .footnote {
                margin-top: 10%;
                font-size: 16px;
                text-align: center;

                a {
                    font-size: 16px;
                    color: var(--minor_color);
                }
            }

            .link {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 3%;

                p {
                    font-size: 16px;

                    span {
                        font-size: 16px;
                        color: var(--main_color);
                        &:hover {
                            cursor: pointer;
                            color: var(--minor_color);
                            font-style: italic;
                        }
                    }


                }
            }
        }

        &__footer {
            margin-top: -10%
        }

    }

    footer {
        margin-top: -20%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        nav {
            display: flex;
            justify-content: space-between;
            margin: 20px;

            ul {
                display: flex;
               // margin-top: 20px;

                img {
                    width: 40px;
                    //padding: 2px;
                }

                li {
                    list-style: none;
                    padding: 8px;
                }
            }
        }

        .socialicon {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
           // margin-top: 20px;

            img {
                width: 40px;
                padding: 5px;
            }
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            margin-bottom: 20px;

            span {
                font-size: 24px;
            }
        }
    }

    .login__form {
        display: none;
        //position: absolute;
        z-index: 2;
        width: 30%;
        height: 50%;
        margin-top: 7%;
        margin-left: 50%;

        input[type=submit] {
            margin-left: 40%;
            cursor: pointer;
        }
    }

    .signin {
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 999;
        width: 110vw;
        height: 90vh;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        margin-left: -5%;
        margin-top: 5%;  

        &__container {
            background-color: var(--primary_color);margin-top: 10%;
            padding: 3%;
            border-radius: 20px;
            margin-top: -5%;

            form {
                width: 30vw;
                //margin: 10%;

                label {
                    font-size: 24px;
                    color: var(--main_color);
                }

                input {
                    width: 100%;
                    padding: 10px;
                    font-size: 20px;
                    border-color: var(--main_color);
                    //border-top: var(--main_color);
                    border-style: solid;
                    border-radius: 10px;
                }

                input[type=submit] {
                    width: 25%;
                    margin-left: 37.5%;
                    font-size: 30px;
                    background-color: var(--primary_color);
                    color: var(--main_color);

                    &:hover {
                        color: var(--primary_color);
                        background-color: var(--main_color);
                        font-size: 30px;
                    }
                }
            }
        }

        &__link {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            a {
                color: var(--main_color);
                font-size: 20px;
            }
        }
    }

    div.add-form {
        display: block;
    }

    div.remove-form {
        display: none;
    }

    section.show__signin {
        visibility: visible;
    } 
    
    section.add-blur {
        display: block;
        pointer-events: none;
        filter: blur(50px) opacity(50%) contrast(50%);
        animation-name: mobileMenu;
        animation-duration: 0.7s;
    }
}

//css propertiea for tablet/Ipad (screen size above 572px and below 870px)
@media screen and (max-width: $tablet) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary_color);
        height: 10%;
        margin: 5px 10px;
        //gap: 40px;

        &__logo {
            display: flex;
        }

        &__logotxt {
            margin-top: 1vh;
        }

        &__menuicon {
           display: flex;
        }

        &__navigation, .splitline {
            display: none;
        }

       /* &__navigation {
            display: block;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                li {
                    list-style: none;
                    gap: 3px;
                    a {
                        font-size: 24px;
                    }
                }
            }
        }*/

         // navigation menu for tablet
         nav {
            position: fixed;
            z-index: 999;
            width: 80%;
            height: 10vh;
            align-items: center;
            //right: -2%;
            top: 10%;
            //background: dimgray;
            padding: 1em;
            color: var(--primary_color);
            text-decoration: none;
            animation-name: mobileMenu;
            animation-duration: 0.9s;
          
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 0%;
                text-decoration: none;
                list-style: none;
            }
          
            li {
              a {
                color: var(--primary_color);
                display: block;
                text-decoration: none;
                list-style: none;
                font-size: 30px;
                padding: 0.5em;
                text-align: center;
          
                &:hover {
                  font-weight: bold;
                }
              }
            }
        }

        nav.menu-btn {
            display: block;
        }
    }

    .hero {
        display: block;

        &__container {
            display: flex;
            flex-direction: column-reverse;
        }

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20%;
            text-align: center;
            color: var(--primary_color);

            h1 {
                font-size: 45px;
                font-weight: 600;
            }

            P {
                font-size: 24px;
                margin-top: 2vh;
                margin-bottom: 3vh;
            }

            a {
                font-size: 20px;
                background-color: var(--tertiary_color);
                padding: 15px 20px;
                border-radius: 10px;
            }
        }
        &__image {
            display: flex;
            background-image: url(../assets/landing-page-girl_1.png);
            width: 60vw;
            height: 60vh;
            margin-top: 3vh;
            margin-bottom: -3vh;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.50));
        }

        &__headphone {
            background-image: url(../assets/Ellipse3.png); 
            position: absolute;
            width: 40vw;
            height: 40vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -2;
            top: 6vh;
            left: 60vw;
        }

        &__design1 {
            background-image: url(../assets/Ellipse2.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            width: 120vw;
            height: 16vh;
            margin: 0;
            left: -2%;
            bottom: -1%;
            z-index: -2;
        }
    }

    section.add-blur {
        display: block;
        pointer-events: none;
        filter: blur(4px) opacity(50%) contrast(50%);
        animation-name: mobileMenu;
        animation-duration: 0.7s;
    }

    //styling properties for the join page/section
    .join {
        display: block;
        width: 100vw;
        height: 100vh;
        color: var(--primary_color);
        background: linear-gradient(180deg, #1762A7 31.85%, rgba(0, 0, 0, 1) 90.01%);

        &__container {
            display: block;
            //flex-direction: column;
            margin-top: 5%;
        }

        &__text {
            //margin-top: -5%;
            margin: 5%;

            h1 {
                font-size: 35px;
            }

            span {
                font-size: 50px;
                color: var(--minor_color);
            }
        }

        // &__form {
        //    
        // }

        &__footer {
            margin-top: 20%;
        }

        &__form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10%;
            width: 80%;
            margin: 10%;
            margin-bottom: -2%;
            border: none;
            border-radius: 10px;
            background-color: var(--form_color);
            
           
            //     filter: drop-shadow(0px 8px 8px var(--tertiary_color));
            //color: var(--tertiary_color);
            //filter: drop-shadow(0px 8px 8px var(--tertiary_color));

            .input-control {
                display: flex;
                flex-direction: column;
                
                label {
                    font-size: 20px;
                }

                input {
                    border: 2px solid #f0f0f0;
                    border-radius: 10px;
                    display: block;
                    font-size: 20px;
                    padding: 10px;
                    width: 100%;

                    &:focus {
                        outline: 0%;
                    }
                }

                &.success input {
                    border-color: #09c372;
                }
                
                &.error input {
                    border-color: #ff3860;
                }
                
                &.error {
                    color: #ff3860;
                    font-size: 9px;
                    height: 13px;
                }

                
            }

            input[type=submit] {
                padding: 10px;
                margin-top: 10px;
                width: 100%;
                color: var(--primary_color);
                background-color: var(--main_color);
                border: none;
                border-radius: 10px;
            }

            .footnote {
                margin-top: 10%;
                font-size: 16px;
                text-align: center;

                a {
                    font-size: 16px;
                    color: var(--minor_color);
                }
            }

            .link {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 3%;

                p {
                    font-size: 16px;

                    span {
                        font-size: 16px;
                        color: var(--main_color);
                        &:hover {
                            cursor: pointer;
                            color: var(--minor_color);
                            font-style: italic;
                        }
                    }


                }
            }
        }

        form {
            width: 100%;
            margin: 5%;
        }

    }

    //footer styling properties
    footer {
        display: block;
        //position: absolute;
        padding: 2%;
        margin: 0%;
        //margin-top: 15%;
        bottom: 0%;
        width: 100vw;
       
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            img {
                width: 40px;
            }

            ul {
                display: flex;
                gap: 10px;
            }

            li {
                list-style: none;

                a {
                    font-size: 20px;
                }
            }
        }

       .socialicon {
            display: flex;
            gap: 10px;
        
            img {
                width: 25px;
                height: 25px;
            }
        }

        p {
            margin-top: 5%;
            text-align: center;
            font-size: 18px;
            color: var(--tertiary_color);

            span {
                font-size: 18px;
            }
        }

    }

    //scss properties for discover page.
    .discover {
        display: block;
        width: 100vw;
        height: 100vh;

        &__container {
            //margin: 5%;
            margin: 10%;
            display: flex;
            flex-direction: column;
        }

        .design3 {
            position: absolute;
            z-index: -2;
            width: 50%;
            top: -10%;
            left: -10%;
        }

        .design4 {
            position: absolute;
            z-index: -2;
            width: 100%;
            bottom: 30%;
            left: 10%;
            right: 10%;
        }

        .design5 {
            position: absolute;
            z-index: -2;
            width: 70%;
            height: 20vh;
            bottom: 0%;
            left: 20%;
            right: 0%;
        }

        .gridbox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            //width: 90%;
            height: 20%;
            color: var(--primary_color);
            margin-top: 10px;
            gap: 20px;

            .grid {
                background-color: var(--tertiary_color);
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 25%;

                img {
                    width: 60px;
                }

                h2 {
                    font-size: 28px;
                    margin-top: 15px;
                }
            }
        }

        &__left {
            width: 100%;

            h1 {
                font-size: 35px;
            }
        }

        &__text {
            margin-top: 10px;
            font-size: 25px;
            text-align: center;

            span {
                font-size: 20px;
                font-weight: bold;
                font-style: italic;
            }
        }

        &__imgGrid {
            //margin: 5%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-top: 5%;
                width: 80%;
            }
        }

        &__footer {
            margin-top: -5%;
            padding: 2%;
        }
    }
}

//css properties for mobile screens below 572px
@media screen and (max-width: $mobile) {
    body {
        overflow: hidden;
    }
    //css properties for header section
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        margin: 5px 10px;

        &__logotxt,&__hidden {
            display: none;
        }

        &__menuicon {
            visibility: visible;
            display: flex;
            margin-right: 10px;
        } 
        // navigation menu for mobile
        nav {
            position: fixed;
            z-index: 999;
            width: 110vw;
            height: 10vh;
            right: -2%;
            top: 10%;
            //background: dimgray;
            padding: 1em;
            color: var(--primary_color);
            text-decoration: none;
            animation-name: mobileMenu;
            animation-duration: 0.9s;
          
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 0%;
                text-decoration: none;
                list-style: none;
            }
          
            li {
                a, .login {
                    color: var(--primary_color);
                    display: block;
                    text-decoration: none;
                    list-style: none;
                    font-size: 24px;
                    padding: 0.5em;
                    text-align: center;
            
                    &:hover {
                    font-weight: bold;
                    cursor: pointer;
                    }
                }

                .login {

                    font-size: 24px;

                    &:hover {
                        font-weight: bold;
                        cursor: pointer;
                    }
                }

            }  

            nav.menu-btn {
            display: block;
            }
        }
    }

    //styling properties for the hero section/langing page
    .hero {
        &__image {
            display: flex;
            background-image: url(../assets/landing-page-girl_1.png);
            width: 70vw;
            height: 70vh;
            top: 70%;           
            bottom: 0%;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.50));
        }

        &__headphone {
            background-image: url(../assets/Ellipse3.png); 
            position: absolute;
            width: 45vw;
            height: 45vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -2;
            top: 2vh;
            left: 55vw;
        }

        &__design1 {
            background-image: url(../assets/Ellipse2.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            width: 115vw;
            height: 15vh;
            margin: 0;
            left: -2%;
            bottom: -3%;
            z-index: -2;
        }
    }


    section.add-blur {
        display: block;
        pointer-events: none;
        filter: blur(4px) opacity(50%) contrast(50%);
        animation-name: mobileMenu;
        animation-duration: 0.7s;
    }

    //styling properties for the join page/section
    .join {
        display: block;
        width: 100vw;
        //color: var(--primary_color);
        background: linear-gradient(180deg, #1762A7 31.85%, rgba(0, 0, 0, 1) 90.01%);

        &__container {
            display: flex;
            flex-direction: column;
            margin-top: 3%;
        }

        &__text {
            margin: 5%;

            h1 {
                font-size: 35px;
            }

            span {
                font-size: 50px;
                color: var(--minor_color);
            }
        }

        &__form {
            margin-top: 5%;
            margin: 2%;
            width: 95%;
            background-color: var(--form_color);
            border: none;
            border-radius: 10px;
            color: var(--tertiary_color);
            //filter: drop-shadow(0px 8px 8px var(--tertiary_color));

            .input-control {
                display: flex;
                flex-direction: column;
                
                label {
                    font-size: 20px;
                }

                input {
                    border: 2px solid #f0f0f0;
                    border-radius: 10px;
                    display: block;
                    font-size: 20px;
                    padding: 10px;
                    width: 100%;

                    &:focus {
                        outline: 0%;
                    }
                }

                &.success input {
                    border-color: #09c372;
                }
                
                &.error input {
                    border-color: #ff3860;
                }
                
                &.error {
                    color: #ff3860;
                    font-size: 9px;
                    height: 13px;
                }

                
            }

            input[type=submit] {
                padding: 10px;
                margin-top: 10px;
                width: 100%;
                color: var(--primary_color);
                background-color: var(--main_color);
                border: none;
                border-radius: 10px;
            }

            .footnote {
                margin-top: 10%;
                font-size: 16px;
                text-align: center;

                a {
                    font-size: 16px;
                    color: var(--minor_color);
                }
            }

            .link {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 3%;

                p {
                    font-size: 16px;

                    span {
                        font-size: 16px;
                        color: var(--main_color);
                        &:hover {
                            cursor: pointer;
                            color: var(--minor_color);
                            font-style: italic;
                        }
                    }


                }
            }
        }
    }

    //footer styling properties
    footer {
        display: block;
        position: absolute;
        padding: 5%;
        margin: 0%;
        bottom: 0%;
       
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            img {
                width: 40px;
            }

            ul {
                display: flex;
                gap: 10px;
            }

            li {
                list-style: none;

                a {
                    font-size: 20px;
                }
            }
        }

       .socialicon {
            display: flex;
            gap: 10px;
        
            img {
                width: 25px;
                height: 25px;
            }
        }

        p {
            margin-top: 5%;
            text-align: center;
            font-size: 18px;
            color: var(--tertiary_color);

            span {
                font-size: 18px;
            }
        }

    }

    //scss properties for discover page.
    .discover {
        display: block;
        width: 100vw;

        &__container {
            margin: 5%;
            margin-top: 10%;
            display: flex;
            flex-direction: column;
        }

        .design3 {
            position: absolute;
            z-index: -2;
            width: 50%;
            top: -10%;
            left: -10%;
        }

        .design4 {
            position: absolute;
            z-index: -2;
            width: 100%;
            bottom: 30%;
            left: 10%;
            right: 10%;
        }

        .design5 {
            position: absolute;
            z-index: -2;
            width: 110%;
            height: 20vh;
            bottom: 0%;
            left: 20%;
            right: 0%;
        }

        .gridbox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90vw;
            height: 20%;
            color: var(--primary_color);
            margin-top: 10px;
            gap: 20px;

            .grid {
                background-color: var(--tertiary_color);
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 25%;

                img {
                    width: 50px;
                }

                h2 {
                    font-size: 24px;
                    margin-top: 10px;
                }
            }
        }

        &__text {
            margin-top: 10px;
            font-size: 20px;

            span {
                font-size: 20px;
                font-weight: bold;
                font-style: italic;
            }
        }

        &__imgGrid {
            display: flex;
            margin: 5%;
            width: 100vw;
            justify-content: center;
            align-items: center;

            img {
                width: 80%;
                margin-right: 20%;
            }
        }
    }
}