@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;0,900;1,400&display=swap');

body {
    background-color: #1762A7;
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 1.2em;
    padding-bottom: 0;
}

section {
    height: 100vh;
    margin-bottom: 0;
    padding-bottom: 0;
}


header {
    display: block;
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1.3em;
}

.navbar {
    display: flex;
    justify-content: space-between;

    .logobar {
        display: flex;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        
        h1 {
            padding-left: 10px;
            font-size: 36px;
        }
    }
}

ul {
    display: flex;
    padding-right: 1.8em;

    li {
        list-style: none;
        padding-left: 50px;
        padding-right: 50px;

        a {
            text-decoration: none;
            padding-left: 20px;
            font-size: 32px;
            color: #ffffff;
        }
    }
}

.hero {
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    .container {
        display: flex;

        .left {
    
            .heroimg {
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                padding-left: 80px;
                padding-top: 89px;
                width: 75%;
            }

            .design1 {
                position: absolute;
                top: 785px;
                right: 996px;
                z-index: -1;
            }
        }

        .right {
            color: #ffffff;

            .headphone {
                position: absolute;
                z-index: -1;
                width: 339px;
                padding-top: 118px;
                padding-left: 630px;

                &:hover {
                    border: solid 3px #0a80ef;
                }
            }

            .herotext {
                text-align: left;
                padding-top: 110px;
                padding-left: 315px;
                
                h1 {
                    font-size: 72px;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                p {
                    font-size: 34px;
                    margin-top: .3em;
                }

                a {
                    background-color: #000000;
                    font-size: 20px;
                    padding: 25px 60px;
                    box-sizing: border-box;
                    border-radius: 10px;

                    &:hover {
                        padding: 20px 55px;
                        border: solid 3px #0a80ef;
                    }
                }
            }

            .design2 {
                position: absolute;
                left: 1468px;
                top: 470px;
                z-index: -2;
                height: 490px;
                width: 452px;
            }
        }
    }
}

.about {
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;

    .innerContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        margin-left: 200px;
        margin-bottom: 110px;

        .left {
            display: block;

            h1 {
                font-size: 36px;
            }

            h2 {
                font-size: 26px;
                font-weight: 400;
            }

            .gridbox {
                display: flex;
                margin: -1em;


                .grid {
                    background-color: #000000;
                    color: #ffffff;
                    margin: 1em;
                    padding: 15px;
                    width: 130px;
                    place-items: center;
                    text-align: center;

                    img {
                        align-content: center;
                        width: 100px;
                    }
                }
            }
        }

        .right {
            margin-right: 200px;
            margin-top: 60px;
        }
    }

    footer {
        display: block;
        margin: -1.2em;
        padding: 10px;
        padding-top: 5px;
        margin-top: 110px;
        background: rgba(255, 255, 255, 0.18);
        text-align: center;
        margin-bottom: 0;

        nav {
            display: flex;
            justify-content: space-between;

            .socialicon {
                display: flex;
                width: 10%;

                img {
                    width: 38px;
                    height: 38px;
                    padding: 5px;
                }
            }
        }

        p {
            font-size: 22px;
            margin-bottom: 0%;
            padding-bottom: 10px;
        }

    }
}
